body{
   background-color: #ffe0bc;
   margin-left: auto;
    margin-right: auto;
      
}
input{
width: 300px;
height: 40px;
padding-left: 38px;
padding-right: 38px;
color: #4D5AE5;
background-color: transparent;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: 1px solid transparent;
outline-offset: -1px;
transition: outline #4D5AE5;
  
}


input:focus {
outline-color: #1728e2;


}

input:not(:placeholder-shown):required:valid {
    outline-color: #1728e2;
   
}
button {

    padding: 12px 24px;
    margin: 0 auto;
    border: 1px solid transparent;
    color: #F4F4FD;
    background-color: #4D5AE5;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;

  
}
button.is-hidden{
    display: none;
}
button>.spinner.is-hidden{
    display: none;
}
button:hover, button:focus, .button:active {
    color: rgb(230, 255, 5);
    background-color: #4D5AE5;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-style{

    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.info-item{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;


    margin-bottom: 20px;
    margin-top: 20px;
}
.photo-card{

}
.info{
    display: flex;
   /* justify-content: space-around;*/
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e1fd93;

}
.search-form{
    display: block;
    align-items: center;

   
}
